<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MBStar</string>
		<key>icon_name</key>
		<string>mercedes</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>VCDS</string>
		<key>icon_name</key>
		<string>vw</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>CanClip</string>
		<key>icon_name</key>
		<string>renault</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>Autocom</string>
		<key>icon_name</key>
		<string>autocom</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>INPA</string>
		<key>icon_name</key>
		<string>bmw</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>Lexia</string>
		<key>icon_name</key>
		<string>lexia</string>
		<key>events</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>PIWIS</string>
		<key>icon_name</key>
		<string>porsche</string>
		<key>events</key>
		<array>
			<dict>
				<key>locationLat</key>
				<real>42.663435</real>
				<key>locationLng</key>
				<real>23.400071</real>
				<key>text</key>
				<string>Test</string>
				<key>date</key>
				<date>2015-08-12T08:33:57Z</date>
			</dict>
			<dict>
				<key>locationLat</key>
				<real>42.663435</real>
				<key>locationLng</key>
				<real>23.400071</real>
				<key>text</key>
				<string>Test2</string>
				<key>date</key>
				<date>2015-08-12T08:33:57Z</date>
			</dict>
			<dict>
				<key>locationLat</key>
				<real>42.664969</real>
				<key>locationLng</key>
				<real>23.40028</real>
				<key>text</key>
				<string>Test3</string>
				<key>date</key>
				<date>2015-08-12T08:33:57Z</date>
			</dict>
			<dict>
				<key>locationLat</key>
				<real>42.66442</real>
				<key>locationLng</key>
				<real>23.405042</real>
				<key>text</key>
				<string>Test4</string>
				<key>date</key>
				<date>2015-08-12T08:33:57Z</date>
			</dict>
		</array>
	</dict>
</array>
</plist>
